
<header class="navigation">
  <app-btn-mobile></app-btn-mobile>
  <img src="../../../../../assets/images/logo.svg" alt="logo" class="logo">
  <nav class="navigation__navbar">
    <ul class="navigation__list list">
        <li class="list__item"><a routerLink="/home">Inicio</a></li>
        <li class="list__item"><a routerLink="/dashboard">Evolución de las especies</a></li>
        <li class="list__item"><a routerLink="/info">Sobre el proyecto</a></li>
    </ul>
  </nav>
  <app-login></app-login>
</header>
