<div class="group-container">
  <div  class="chart-container" id="chartContainer"></div>
  <div class="explication-whale">
    <p>Las ballenas jorobadas <span>(megaptera novaeangliae)</span> han sido una especie que sufrió un fuerte declive debido a la pesca incontrolada que se llevaba realizando hasta el año 2012, donde pasó a cobrar especial importancia la recuperación de éstas y se procedió a ilegalizar la caza de ballenas en países como Islandia o Japón. No obstante. la retirada de parte de algunos países de la Comisión ballenera internacional hace que en la actualidad de nuevo peligre su supervivencia.</p>
  </div>
</div>

<div class="group-container">
  <div class="explication-turtle">
    <p>Las tortugas marinas en todo el mundo (especialmente la especie <span>Caretta caretta</span> se encuentran en un retroceso grave de su abundancia debido a diversos factores como la contaminación marina, en especial por la contaminación por plásticos. Actualmente se encuentran en estado crítico y cobra especial importancia tomar medidas urgentes para evitar su desaparición.</p>
  </div>
  <div  class="chart-container chart-container--inverse" id="chartContainer2"></div>
</div>

<div class="group-container">
  <div  class="chart-container" id="chartContainer3"></div>
  <div class="explication-tuna">
    <p>La abundancia de las distintas especies de atunes en todo el mundo sufrieron un fuerte retroceso en torno al año 2012 debido a la pesca incontrolada de los mismos. A partir de entonces, todos los proyectos de conservación encabezados por asociaciones como Oceana o Greenpeace han hecho posible su recuperación casi completa en la actualidad.</p>
  </div>
</div>





