<form action="post" class="form-login" [formGroup]="form" (ngSubmit)="onSave()">
  <button mat-dialog-close type="button" class="btn-close">&times;</button>

  <div class="form-login__user-email">
      <label for="email">E-mail</label>
      <input type="text" name="email" placeholder="Introduzca su email" formControlName="email" id="email-login">
      <span *ngIf="form?.controls.email.errors?.required">Campo requerido</span>
  </div>
  <div class="form-login__password">
      <label for="password">Contraseña</label>
      <input type="password" name="password" placeholder="Introduzca su contraseña" formControlName="password" id="password-login">
      <span *ngIf="form?.controls.password.errors?.required">Campo requerido</span>
  </div>
  <div class="btn-container">
      <button type="submit" class="btn-submit" [disabled]="!form.valid" routerLink="/panel">Login</button>
  </div>
</form>
