<button type="button" class="map-options" (click)="toggleVisibilityMenuBtns()" [class.menu-visible]="status">
  <span>Opciones</span>
  <img src="/assets/images/icons/outside.svg" class="map-options-icon-open" alt="icono apertura menú">
</button>

<div class="map-options-menu" [class.menu-visible]="status">
  <div class="map-options-menu__container">
    <button type="button" (click)="toggleVisibilityMenuBtns()">
      <img src="/assets/images/icons/inside.svg" class="map-options-icon-close" alt="icono cierre menú">
    </button>
    <button type="button" (click)="toggleVisibilityMenuBtns()">
      <img src="/assets/images/icons/down-arrow.svg" class="map-options-icon-down" alt="icono cierre menú">
    </button>
    <div class="map-options-menu__divider">
      <p class="map-options-title">Especies</p>
      <div class="switch-container">
        <input type="checkbox" id="turtle-switch" [(ngModel)]="turtle" (change)="handleChange()">
        <label for="turtle-switch"></label>
        <span class="switch-title">Tortugas</span>
      </div>
      <div class="switch-container">
        <input type="checkbox" id="whale-switch" [(ngModel)]="whale" (change)="handleChange()">
        <label for="whale-switch"></label>
        <span class="switch-title">Ballenas</span>
      </div>
      <div class="switch-container">
        <input type="checkbox" id="tuna-switch" [(ngModel)]="tuna" (change)="handleChange()">
        <label for="tuna-switch"></label>
        <span class="switch-title">Atunes</span>
      </div>
    </div>
    <div class="map-options-menu__divider map-options-menu__divider--top-separate">
      <p class="map-options-title">Información a mostrar</p>
      <div class="switch-container">
        <input type="checkbox" id="individual-switch" [(ngModel)]="individuals" (change)="handleChange()">
        <label for="individual-switch"></label>
        <span class="switch-title">Avistamientos</span>
      </div>
      <div class="switch-container" *ngIf="userLogged">
        <input type="checkbox" id="my-species-switch" [(ngModel)]="mySpecies" (change)="handleChange()">
        <label for="my-species-switch"></label>
        <span class="switch-title">Mis avistamientos</span>
      </div>
      <div class="switch-container">
        <input type="checkbox" id="reproduction-switch" [(ngModel)]="reproductionPlaces" (change)="handleChange()">
        <label for="reproduction-switch"></label>
        <span class="switch-title">Zonas de reproducción</span>
      </div>
      <div class="switch-container">
        <input type="checkbox" id="death-switch" [(ngModel)]="death" (change)="handleChange()">
        <label for="death-switch"></label>
        <span class="switch-title">Muertes</span>
      </div>
    </div>
    <div class="map-options-menu__divider map-options-menu__divider--top-changed">
      <p class="map-options-title">Rutas Migratorias</p>
      <div class="switch-container">
        <input type="radio" id="turtle-migration-switch" [(ngModel)]="migrationRoutes" value="turtle"
          name="migration-routes" (change)="selectMigrationRoute('turtleMigrationSwitch')">
        <label for="turtle-migration-switch"></label>
        <span class="switch-title">Tortugas</span>
      </div>
      <div class="switch-container">
        <input type="radio" [(ngModel)]="migrationRoutes" value="whale" id="whale-migration-switch"
          name="migration-routes" (change)="selectMigrationRoute('whaleMigrationSwitch')">
        <label for="whale-migration-switch"></label>
        <span class="switch-title">Ballenas</span>
      </div>
      <div class="switch-container">
        <input type="radio" [(ngModel)]="migrationRoutes" value="tuna" id="tuna-migration-switch"
          name="migration-routes" (change)="selectMigrationRoute('tunaMigrationSwitch')">
        <label for="tuna-migration-switch"></label>
        <span class="switch-title">Atunes</span>
      </div>
    </div>
  </div>
</div>
