@import "../../../../scss/partials/variables";
@import "../../../../scss/partials/mixins";

.map {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -100;

  .marker {
    background-size: auto;
    background-repeat: no-repeat;
    width: 75px;
    height: 50px;
    cursor: pointer;
  }

  .turtle {
    background-image: url('/assets/images/icons/turtle.svg');
  }
  .tuna {
    background-image: url('/assets/images/icons/tuna.svg');
  }
  .whale {
    background-image: url('/assets/images/icons/whale.svg');
  }
  .turtle-love {
      background-image: url('/assets/images/icons/turtle-love.svg');
      background-size: 80%;
  }
  .tuna-love {
      background-image: url('/assets/images/icons/tuna-love.svg');
      width: 85px;
      height: 60px;
  }
  .whale-love {
      background-image: url('/assets/images/icons/whale-love.svg');
      width: 105px;
  }
  .turtle-star {
    background-image: url('/assets/images/icons/turtle-star.svg');
  }
  .tuna-star {
    background-image: url('/assets/images/icons/tuna-star.svg');
  }
  .whale-star {
    background-image: url('/assets/images/icons/whale-star.svg');
  }
  .turtle-dead {
    background-image: url('/assets/images/icons/turtle-skull-grey.svg');
    background-size: 100%;
  }
  .tuna-dead {
    background-image: url('/assets/images/icons/tuna-skull-grey.svg');
    background-size: 100%;
  }
  .whale-dead {
    background-image: url('/assets/images/icons/whale-skull-grey.svg');
    background-size: 100%;
  }

}

.btn-find {
  @include button;
  position: fixed;
  z-index: map-get($z-index, 'button');
  top: 100px;
  right: 15px;
  cursor: pointer;
  border: 0;
}

.marker:hover .tooltip-text {
  visibility: visible;
}

.tooltip-text {
  visibility: hidden;
  width: 100%;
  background-color: var(--color-white);
  color: var(--color-purple-3);
  text-align: center;
  border: 1px solid var(--color-purple-3);
  border-radius: 5px;
  padding: 12px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
  margin-top: -30px;
  &::after, &::before {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-white) transparent transparent transparent;
    transform: translate(-50%, 0);
  }
  &::before {
    border-color: var(--color-purple-3) transparent transparent transparent;
    filter: drop-shadow(0 1px 0 var(--color-purple-3));
  }
}

.init-turtle-marker, .final-turtle-marker, .init-whale-marker, .final-whale-marker, .init-tuna-marker, .final-tuna-marker {
  width: 20px;
  padding-bottom: 8px;
  font-family: var(--ff-primary);
  font-size: 16px;
  font-weight: 700;
}
.init-turtle-marker, .final-turtle-marker {
  color: #17A589;
}
.init-whale-marker, .final-whale-marker {
  color: #3498DB;
}
.init-tuna-marker, .final-tuna-marker {
  color: #C0392B;
}


@media screen and (min-width: 769px) {
  .map-legend {
      @include map-options;
      padding: 16px;
      background-color: var(--color-blue-1);
      bottom: 0;
      right: 0;
      margin: 16px;
      .map-legend__container {
        display: flex;
        flex-direction: row;
          .map-legend__divider {
              &--separate {
                margin-left: 72px;
              }
              .map-legend-title {
                display: block;
                @include switch-title;
                font-size: var(--fs-big);
                font-weight: 600;
              }
              .icons-container {
                margin-bottom: 16px;
              }
          }
      }
      &__heart, &__star, &__death {
        width: 40px
      }

  }

  .legend-title {
    @include switch-title;
  }

  .migration-player {
    position: absolute;
    bottom: 0;
    left: 25%;
    right: 25%;
    height: 52px;
    background-color: var(--color-purple-3);
    z-index: map-get($z-index, 'button');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    button {
      background-color: transparent;
      border: 0;
      .icon-player {
        width: 40px;
        fill: var(--color-white);
        color: var(--color-white);
      }
      & + button {
        margin-left: 16px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .map-legend {
    @include map-options;
    width: 100%;
    padding: 4px;
    background-color: var(--color-blue-1);
    bottom: 50px;
    right: 0;
    left: 0;
    .map-legend__container {
      display: flex;
      flex-direction: column;
        .map-legend__divider {
          display: flex;
          justify-content: space-around;
          &--separate {
            display: flex;
            justify-content: space-around;
          }
          .map-legend-title {
              display: block;
              @include switch-title;
              font-size: var(--fs-big);
              font-weight: 600;
          }
          .icons-container {
            margin: 5px;
          }
        }
      }
      &__heart, &__star, &__death {
        width: 30px;
      }
    }


    .legend-title {
    @include switch-title;
    }

    .migration-player {
    position: absolute;
    bottom: 30%;
    left: 25%;
    right: 25%;
    height: 52px;
    background-color: var(--color-purple-3);
    z-index: map-get($z-index, 'button');
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    button {
      background-color: transparent;
      border: 0;
      .icon-player {
        width: 40px;
        fill: var(--color-white);
      }
    }
  }
}
