
<mgl-map
    class="map"
    id="map"
    [class.animation]="playing"
    [style]="'mapbox://styles/corneto/cjscaqrr005ow1fo5tsjile1h'"
    [zoom]="[2]"
    [center]="[-43.372955, 33.346581]"
  >

  <mgl-control
     mglNavigation
     [position]="'top-left'"
   ></mgl-control>

  <mgl-marker *ngFor="let marker of markers" [lngLat]="[marker.longitude, marker.latitude]">
      <div
      [ngClass]="{
        'turtle-love': marker.type === 'love' && marker.spp === 'turtle',
        'whale-love': marker.type === 'love' && marker.spp === 'whale',
        'tuna-love': marker.type === 'love' && marker.spp === 'tuna',
        'turtle-star': marker.type === 'individuals' && marker.spp === 'turtle' && mapOptions.mySpecies && userLogged && userLogged.id === marker.user,
        'whale-star': marker.type === 'individuals' && marker.spp === 'whale' && mapOptions.mySpecies && userLogged && userLogged.id === marker.user,
        'tuna-star': marker.type === 'individuals' && marker.spp === 'tuna' && mapOptions.mySpecies && userLogged && userLogged.id === marker.user,
        'turtle': marker.type === 'individuals' && marker.spp === 'turtle',
        'whale': marker.type === 'individuals' && marker.spp === 'whale',
        'tuna': marker.type === 'individuals' && marker.spp === 'tuna',
        'turtle-dead': marker.spp === 'turtle' && marker.status === 'dead',
        'whale-dead': marker.spp === 'whale' && marker.status === 'dead',
        'tuna-dead': marker.spp === 'tuna' && marker.status === 'dead'
      }"
      class="marker {{ marker.class }}" (click)="openModal(marker)">
          <div class="tooltip-text" *ngIf="marker.name && marker.name.length > 0">
            {{ marker.name | titlecase }}
          </div>
      </div>
    </mgl-marker>

    <mgl-marker *ngFor="let marker of reproductionPlaces" [lngLat]="[marker.longitude, marker.latitude]">
      <div
      [ngClass]="{
        'turtle-love': marker.type === 'love' && marker.spp === 'turtle',
        'whale-love': marker.type === 'love' && marker.spp === 'whale',
        'tuna-love': marker.type === 'love' && marker.spp === 'tuna'
      }"
      class="marker {{ marker.class }}" (click)="openModal(marker)">
          <!-- <div class="tooltip-text" *ngIf="marker.name && marker.name.length > 0">
            {{ marker.name }}
          </div> -->
      </div>
    </mgl-marker>
  <mgl-marker
    [lngLat]="[markerRouteData.longitude, markerRouteData.latitude]"
    >
      <div class="marker" [ngClass]="markerRouteData.class"></div>
    </mgl-marker>

<!-- fill, line, symbol, circle, heatmap, fill-extrusion, raster, hillshade, background] -->
    <!--Líneas migraciones-->
    <div *ngIf="mapOptions.turtleMigration === true">
      <mgl-layer
      [id]="id"
      type="line"
      [source]="migrationRoutes.turtle"
      [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
      }"
      [paint]="{
        'line-color': '#17A589',
        'line-width': 4
      }"
      >
    </mgl-layer>
    </div>


    <div *ngIf="mapOptions.whaleMigration === true">
      <mgl-layer
      [id]="id"
      type="line"
      [source]="migrationRoutes.whale"
      [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
      }"
      [paint]="{
        'line-color': '#3498DB',
        'line-width': 4
      }"
      >
      </mgl-layer>
    </div>

    <div *ngIf="mapOptions.tunaMigration === true">
      <mgl-layer
      [id]="id"
      type="line"
      [source]="migrationRoutes.tuna"
      [layout]="{
        'line-join': 'round',
        'line-cap': 'round'
      }"
      [paint]="{
        'line-color': '#C0392B',
        'line-width': 4
      }"
      >
      </mgl-layer>
    </div>


  </mgl-map>

  <app-menu-btn (mapOptionsEmitter)="updateMapOptions($event)"></app-menu-btn>

  <button *ngIf="userLogged" type="button" class="btn-find" (click)="openFormAnimals()">¿Lo has visto tú?</button>
  <!-- <button *ngIf="!userLogged" type="button" class="btn-find" (click)="openFormAnimals()">NOT {{ userLogged.id }}</button>
  <button *ngIf="userLogged" type="button" class="btn-find" (click)="openFormAnimals()">{{ userLogged.id }}</button> -->

  <div class="map-legend">
    <div class="map-legend__container">
        <div class="map-legend__divider">
            <div class="icons-container">
              <img src="/assets/images/icons/turtle.svg" alt="Tortuga">
                <span class="legend-title">Tortugas</span>
            </div>
            <div class="icons-container">
              <img src="/assets/images/icons/whale.svg" alt="Ballena">
                <span class="legend-title">Ballenas</span>
            </div>
            <div class="icons-container">
              <img src="/assets/images/icons/tuna.svg" alt="Atún">
                <span class="legend-title">Atunes</span>
            </div>
        </div>
        <div class="map-legend__divider map-legend__divider--separate">
            <div class="icons-container">
              <img src="/assets/images/icons/heart.svg" alt="Imagen corazón" class="map-legend__heart">
                <span class="legend-title">Zonas de reproducción</span>
            </div>
            <div class="icons-container">
              <img src="/assets/images/icons/star.svg" alt="Imagen estrella" class="map-legend__star">
                <span class="legend-title">Mis avistamientos</span>
            </div>
            <div class="icons-container">
              <img src="/assets/images/icons/death/007-craneo-2.svg" alt="Imagen cráneo" class="map-legend__death">
                <span class="legend-title">Especies sin vida</span>
            </div>
        </div>
    </div>
  </div>

  <div class="migration-player" *ngIf="mapOptions.tunaMigration === true || mapOptions.whaleMigration === true ||
  mapOptions.turtleMigration === true">
    <button type="button" (click)="playMigrationRoute()">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 275.725 275.725" style="enable-background:new 0 0 275.725 275.725;" xml:space="preserve" class="icon-player">
          <g>
            <g>
              <path d="M137.862,0C61.726,0,0,61.726,0,137.862c0,76.14,61.726,137.862,137.862,137.862c76.139,0,137.862-61.723,137.862-137.862
              C275.725,61.726,214.001,0,137.862,0z M125.639,148.395L75.67,177.051c-8.606,4.93-15.583,0.891-15.583-9.041v-57.115
              c0-9.926,6.978-13.973,15.583-9.03l49.969,28.656C134.245,135.455,134.245,143.455,125.639,148.395z M161.371,166.694
              c0,9.922-5.442,17.968-12.169,17.968c-6.722,0-12.171-8.046-12.171-17.968V112.21c0-9.921,5.449-17.971,12.171-17.971
              c6.727,0,12.169,8.05,12.169,17.971V166.694z M211.878,166.694c0,9.922-5.447,17.968-12.174,17.968
              c-6.726,0-12.174-8.046-12.174-17.968V112.21c0-9.921,5.448-17.971,12.174-17.971c6.727,0,12.174,8.05,12.174,17.971V166.694z"/>
            </g>
          </g>
        </svg>
    </button>
  </div>






