@import "../../../../scss/partials/variables";
@import "../../../../scss/partials/mixins";

.form-animals {
  position: absolute;
  z-index: map-get($z-index, 'button');
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(2, 250px);
  column-gap: 10px;
  row-gap: 20px;
  border: 1px solid var(--color-grey);
  background-color: var(--color-white);
  box-shadow: 4px 4px 500px 500px rgba(185, 231, 233, 0.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms, box-shadow 500ms linear 200ms;
  .btn-close {
      @include btn-close;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      display: flex;
      justify-content: flex-end;
  }

  h1 {
      @include titles;
      font-weight: 700;
      font-size: 25px;
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  select {
    font-size: 14px;
  }
  &__spp{
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      @include inputs;
      @include titles;
      font-size: var(--fs-tiny);
      background-color: var(--c-white);
      & option {
          @include titles;
      }
  }
  &__name{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
  }
  &__number{
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      display: flex;
      flex-direction: column;
  }

  &__status{
      grid-column: 1 / 2;
      grid-row: 4 / 5;
      display: flex;
      flex-direction: column;
  }

  &__date {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: column;
    .mat-date-container {
      position: relative;
      top: -34px;
      right: -215px;
      width: 20px;
      height: 20px;
    }
  }

  h2 {
      @include titles;
      font-size: 18px;
      font-weight: 600;
      grid-column: 1 / 2;
      grid-row: 5 / 6;
      display: flex;
      flex-direction: column;
  }

  &__latitud{
      grid-column: 1 / 2;
      grid-row: 6 / 7;
      display: flex;
      flex-direction: column;
  }
  &__longitud {
      grid-column: 2 / 3;
      grid-row: 6 / 7;
      display: flex;
      flex-direction: column;

  }
  &__map {
      grid-column: 1 / 3;
      grid-row: 7 / 14;

      .spp-map {
          grid-column: 1 / 3;
          grid-row: 7 / 8;
      }
      .map-form {
          margin-top: 10px;
          grid-column: 1 / 3;
          grid-row: 8 / 14;
          height: 200px;
          // position: absolute;
          width: 100%;

          .map {
            grid-column: 1 / 3;
            grid-row: 9 / 10;
            width: 100%;
            height: 100%;
            margin-bottom: 50px;

          }
      }

  }
  // &__picture {
  //     margin-top: 125px;
  //     grid-column: 1 / 3;
  //     grid-row: 14 / 15;
  //     display: flex;
  //     flex-direction: column;
  //     label {
  //       @include titles;
  //       font-size: var(--fs-tiny);
  //     }
  //     input[type=file] {
  //       @include inputs;
  //     }
  // }

  label {
      @include titles;
      margin-bottom: 10px;
  }
  input {
      @include inputs;
  }
  span {
    @include error-msg;
  }
  .btn-container{
      grid-column: 1 / 3;
      grid-row: 15 / 16;
      display: flex;
      justify-content: center;
  }
  .btn-submit {
      margin-top: 10px;
      width: 30%;
      @include button;
      background-color: var(--color-purple-2);
      &:hover {
          background-color: var(--color-purple-base);
          color: var(--color-purple-2);
          border:1px solid var(--color-purple-2);
      }
  }
}


