@import "../../../../../scss/partials/variables";
@import "../../../../../scss/partials/mixins";

.modal__info-places{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25vw;
  min-width: 320px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 4px 500px 500px rgba(185, 231, 233, 0.5);
  border: 1px solid var(--color-purple-3);
  background-color: var(--color-white);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms, box-shadow 500ms linear 200ms;
  .btn-close {
      @include btn-close;
      top: 5px;
      right: 5px;
  }
   h2{
      @include titles;
      font-weight: 700;
      margin-bottom: 8px;
  }
  span {
      @include titles;
  }
  div, div + div {
      margin-bottom: 24px;
  }
  .picture-container, img{
    max-width: 100%;
  }
  .picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .climate {
    display: flex;
    justify-content: space-between;
  }

}
