// @import "../node_modules/reset-css/sass/reset";
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
// @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700');
// @import "_variables.scss";
// @import "_mixins.scss";

:root {
    --fs-big: 20px;
    --fs-medium: 16px;
    --fs-small: 14px;
    --fs-tiny: 12px;

    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Raleway', sans-serif;
}

.navigation__regist {
    & img {
        height: 40px;
        width: 40px;
        margin-left: 5px;
    }
}

.btn-find {
    @include button;
    position: fixed;
    z-index: map-get($z-index, 'tooltip');
    top: 100px;
    right: 15px;
    cursor: pointer;
}



header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10px;
    background-color: var(--color-blue-2);

    & .logo {
        width: 70px;
        height: 70px;
        z-index: 1;
        background-color: var(--color-blue-2);
        border-radius: 50px;
        padding: 10px;
        margin: -10px;
    }
}

main {
    & .map {
        position: fixed;
        width: 100vw;
        height: 100vh;
    }

    & .form {
        position: absolute;
        z-index: map-get($z-index, 'button');
        padding: 25px;
        display: none;
        grid-template-columns: repeat(2, 250px);
        column-gap: 10px;
        row-gap: 20px;
        border: 1px solid var(--color-grey);
        background-color: var(--color-white);
        box-shadow: 4px 4px 500px 500px rgba(185, 231, 233, 0.5);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms, box-shadow 500ms linear 200ms;
        &:active{
            transform: translate(-50%, -50%) scale(0);
        }
        .btn-close {
            @include btn-close;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            display: flex;
            justify-content: flex-end;
        }
        h1 {
            @include titles;
            font-weight: 700;
            font-size: 25px;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__user-name{
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
        }

        &__email{
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            display: flex;
            flex-direction: column;
        }

        &__password{
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            display: flex;
            flex-direction: column;
        }

        &__repeat-password{
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            display: flex;
            flex-direction: column;
        }

        label {
            @include titles;
            margin-bottom: 10px;
        }
        input {
            @include inputs;
        }
        .btn-container{
            grid-column: 1 / 3;
            grid-row: 5 / 6;
            display: flex;
            justify-content: center;
        }
        .btn-submit {
            width: 30%;
            @include button;
            background-color: var(--color-purple-2);
            &:hover {
                background-color: var(--color-purple-base);
                color: var(--color-purple-base);
                border:1px solid var(--color-purple-2);
            }
        }
    }

    .form-sigthseen {
        position: absolute;
        z-index: map-get($z-index, 'button');
        padding: 25px;
        display: none;
        grid-template-columns: repeat(2, 250px);
        column-gap: 10px;
        row-gap: 20px;
        border: 1px solid var(--color-grey);
        background-color: var(--color-white);
        box-shadow: 4px 4px 500px 500px rgba(185, 231, 233, 0.5);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        transition: transform 300ms, box-shadow 500ms linear 200ms;
        &:active{
            transform: translate(-50%, -50%) scale(0);
        }
        .btn-close {
            @include btn-close;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            display: flex;
            justify-content: flex-end;
        }

        h1 {
            @include titles;
            font-weight: 700;
            font-size: 25px;
            grid-column: 1 / 3;
            grid-row: 1 / 2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__spp{
            grid-column: 1 / 3;
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            @include inputs;
            @include titles;
            font-size: var(--fs-tiny);
            background-color: var(--c-white);
            & option {
                @include titles;
            }
        }

        &__number{
            grid-column: 1 / 3;
            grid-row: 3 / 4;
            display: flex;
            flex-direction: column;
        }

        &__state{
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            display: flex;
            flex-direction: column;
        }

        & h2 {
            @include titles;
            font-size: 18px;
            font-weight: 600;
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            display: flex;
            flex-direction: column;
        }

        &__latitud{
            grid-column: 1 / 2;
            grid-row: 6 / 7;
            display: flex;
            flex-direction: column;
        }
        &__longitud {
            grid-column: 2 / 3;
            grid-row: 6 / 7;
            display: flex;
            flex-direction: column;

        }
        &__map {
            grid-column: 1 / 3;
            grid-row: 7 / 14;

            & .spp-map {
                grid-column: 1 / 3;
                grid-row: 7 / 8;
            }
            & .map-form {
                margin-top: 10px;
                grid-column: 1 / 3;
                grid-row: 8 / 14;
                height: 200px;
            }

        }
        &__picture {
            grid-column: 1 / 3;
            grid-row: 14 / 15;
            display: flex;
            flex-direction: column;
        }

        & label {
            @include titles;
            margin-bottom: 10px;
        }
        & input {
            @include inputs;
        }
        & .btn-container{
            grid-column: 1 / 3;
            grid-row: 15 / 16;
            display: flex;
            justify-content: center;
        }
        & .btn-submit {
            width: 30%;
            @include button;
            background-color: var(--color-purple-2);
            &:hover {
                background-color: var(--color-purple-base);
                color: var(--color-purple-2);
                border:1px solid var(--color-purple-2);
            }
        }
    }

}

.switch-container {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;

    & .switch-title {
        @include switch-title;

    }

    & input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
    }

    & label {
        cursor: pointer;
        text-indent: -9999px;
        width: 50px;
        height: 25px;
        background: var(--color-orange-base);
        display: block;
        border-radius: 100px;
        position: relative;
    }

    & label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        background: var(--color-white);
        border-radius: 20px;
        transition: 0.3s;
    }

    & input:checked+label {
        background: var(--color-orange-3);
    }

    & input:checked+label:after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }

}

.modal__info-spps{
    position: absolute;
    top:100px;
    left: 20px;;
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--color-purple-3);
    background-color: var(--color-white);
    & .btn-close {
        @include btn-close;
        top: 5px;
        right: 5px;
    }
    & h2{
        @include titles;
        margin-bottom: 5px;
        font-weight: 700;
    }
    & p {
        @include titles;
    }
    & div, div + div {
        margin-bottom: 15px;
    }
}

.modal__info-places{
    position: absolute;
    top:70px;
    left: 50%;
    width: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--color-purple-3);
    background-color: var(--color-white);
    & .btn-close {
        @include btn-close;
        top: 5px;
        right: 5px;
    }
    & h2{
        @include titles;
        margin-bottom: 5px;
        font-weight: 700;
    }
    & p {
        @include titles;
        margin-bottom: 10px;
    }
    & img {
        width: 250px;
    }
}

.admin-panel{
    width: 100%;
    top: 50%;
    @include titles;
    position: absolute;
    border: 1px solid var(--color-purple-3);
    color: var(--color-purple-3);
    background-color: var(--color-white);
}



@media screen and (min-width: 769px) {

    .navigation__info__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100%;

        & li {
            padding-left: 70px;
            & a {
                @include link;
                margin-bottom: 10px;
            }
        }

        & li:first-child {
            padding-left: 0;
        }

    }

    header > button {
        display: none;
    }

    main{
        & .map-options-menu {
            @include map-options;
            margin: 0 0 15px 15px;
            padding: 15px;
            background-color: var(--color-blue-1);
            & .map-options-menu__container {
                display: flex;
                justify-content: space-between;
                & .map-options-menu__divider {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    & .map-options-title {
                        display: block;
                        margin-bottom: 50px;
                        @include switch-title;
                        font-size: var(--fs-big);
                        font-weight: 600;
                    }
                }
            }
            & .switch-container {
                margin: 5px 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navigation__info__list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 100%;
        z-index: map-get($z-index, 'mobile-menu');
        & a {
            @include link;
        }
    }

    header>button {
        margin: 20px, 0, 10px, 10px;
        background-color: transparent;
        border: 0;
        user-select: none;
    }

    header>button:focus+img+nav {
        transform: translate3d(0, 0, 0);
        position: absolute;
        z-index: map-get($z-index, 'mobile-menu');
    }

    header>button>span:not(.sr-only) {
        display: block;
        width: 1.75rem;
        height: 0.1875rem;
        background-color: var(--color-purple-3);
    }

    header>button>span+span {
        margin-top: 0.3125rem;
    }

    .sr-only {
        position: absolute;
        text-indent: -9999rem;
    }

    nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--color-purple-3);
        text-align: center;
        flex-direction: column;
        align-items: center;
        padding-top: 1.875rem;
        transform: translate3d(100%, 0, 0);
        transition: transform .25s ease-in-out;
    }

    main {

        & .map-options {
            @include button;
            @include map-options;
            height: 50px;
            width: 100%;
            background-color: var(--color-purple-3);
            color: var(--color-white);
            border-radius: 0;
            font-weight: 600;
        }

        & .map-options:focus+.map-options-menu {
            transform: translate3d(0, 0, 0);
            position: absolute;
        }

        & .map-options-menu {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 15px;
            z-index: map-get($z-index, 'mobile-menu');
            background-color: var(--color-purple-3);
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-top: 1.875rem;
            transform: translate3d(0, 100%, 0);
            transition: transform .25s ease-in-out;
            & .map-options-menu__container {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                & .map-options-menu__divider {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    & .map-options-title {
                        display: block;
                        margin-bottom: 50px;
                        @include switch-title;
                        font-size: var(--fs-big);
                        font-weight: 600;
                        color: var(--color-white);
                    }
                }

            }
            & .switch-container {
                margin: 25px 0;
            }
            & .switch-title {
                @include switch-title;
                color: var(--color-white);
            }
        }
    }

    .modal__info-spps{
        position: fixed;
        top: 100px;
        left: 0;
        right: 0;
        z-index: map-get($z-index, 'modal');
    }

    .modal__info-places{
        position: fixed;
        left: 0;
        right: 0;
        z-index: map-get($z-index, 'modal');
    }
}

.tooltip {
    height: 20px;
    top: 235px;
    left: 75px;
    @include titles;
    color: var(--color-purple-3);
    font-weight: 600;
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: var(--color-orange-2);
    color: var(--color-purple-3);
    text-align: center;
    border: 1px solid var(--color-purple-3);
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--color-orange-3) transparent transparent transparent;
  }



.marker {
    background-size: auto;
    background-repeat: no-repeat;
    width: 75px;
    height: 50px;
    cursor: pointer;
}

// .turtle {
//     background-image: url('../assets/images/icons/turtle.svg');
// }
// .tuna {
//     background-image: url('../assets/images/icons/tuna.svg');
// }
// .whale {
//     background-image: url('../assets/images/icons/whale.svg');
// }
// .turtle-love {
//     background-image: url('../assets/images/icons/turtle-love.svg');
// }
// .tuna-love {
//     background-image: url('../assets/images/icons/tuna-love.svg');
// }
// .whale-love {
//     background-image: url('../assets/images/icons/whale-love.svg');
// }
