<main>
    <div class="importance">
        <h1 class="importance__title">La importancia en el medio marino</h1>

        <div class="article">
          <article class="article__turtle">
            <div class="container">
              <h1>TORTUGAS</h1>
              <p>
                Las tortugas marinas ejercen un papel fundamental en los ecosistemas marinos. Ayudan a mantener las praderas de fanerógamas y barreras de coral que benefician la abundacia de determinadas especies comerciales como el atún o la langosta. Pertenecen a un grupo de reptiles que habitan en la Tierra desde hace más de 100 millones de años. Son una viajeras marinas incansables y tienen un importante valor cultural.
              </p>
            </div>
          </article>

          <article class="article__whale">
            <div class="container">
              <h1>BALLENAS</h1>
              <p>
                Las ballenas se encuentran en lo más alto de la cadena alimentaria y tienen un importante papel relacionado con la salud de nuestros mares. Desafortunadamente, su gran tamaño y aura mística no ejercen protección sobre ellas, estando en la actualidad 6 de las 13 principales especies clasificadas como amenazadas, incluso después de décadas de campañas de protección.
              </p>
            </div>
          </article>

          <article class="article__tuna">
            <div class="container">
              <h1>ATUNES</h1>
              <p>
                Los atunes son la especie comercial más valiosa de nuestro planeta. El atún atlántico conocido como "atún de aleta azul" está muy demandado para su consumo en Asia como sushi y sashimi, llegando a alcanzar un solo individuo un valor de 700000$. La evolución en las artes de pesca de esta especie hacen que sean vulnerables pudiendo llegar a encontrarse en determinados periodos en grave peligro de desaparición.
              </p>
            </div>
          </article>
        </div>
    </div>

    <div class="threats">
      <div class="container">
          <h1>Amenazas</h1>
          <div>
            <h2>SOBREPESCA Y PESCA ILEGAL</h2>
            <p>La sobrepesca y pesca ilegal es un hecho que afecta a casi todas las especies de nuestros mares con interés comercial. En el caso de las tortugas, la pesca ilegal se lleva a cabo para el consumo de sus huevos y la comercialización de algunas de sus partes que son usadas como amuletos. Para el atún, la sobrepesca se lleva a cabo excediendo los límites de las capturas máximas admisibles (TAC) determinados por las asociaciones internacionales en función del estado de la especie. Tanto el atún de aleta amarilla del Pacífico como el del Atlántico se encuentran sobreexplotados y en proceso de recuperación.</p>
          </div>
          <div>
            <h2>PÉRDIDA DE HÁBITAT</h2>
            <p>La pérdida de hábitat afecta a todas las especies marinas en mayor o menor medida, pero en el caso de las especies a las que se refiere el proyecto afecta sobretodo a las tortuga boba (Caretta caretta), ya que utiliza las playas cada vez más degradadas para nidificar y las praderas de fanerógamas marinas para alimentarse y esconderse de sus presas.</p>
          </div>
          <div>
            <h2>BYCATCH Y PESCA FANTASMA</h2>
            <p>Bycatch se refiere a la captura accidental de especies no objetivo con artes de pesca. La pesca fantasma se refiere a la captura de especies marinas con artes de pesca abandonadas o degradadas que se encuentran a la deriva en el medio marino. Ambos afectan tanto a los atunes como a las tortugas marinas, siendo estas últimas especialmente vulnerables.</p>
          </div>
          <div>
            <h2>CAMBIO CLIMÁTICO</h2>
            <p>El cambio climático genera un incremento de la temperatura de los océanos superior a la esperada y afecta a estas especies modificando patrones de conducta como patrones migratorios para conseguir zonas más óptimas de alimentación y reproducción como modificando la proporción de sexos (feminización) en el caso de las tortugas marinas.</p>
          </div>
          <div>
            <h2>RUIDO</h2>
            <p>La industria y los ruidos submarinos provocados de forma artificial por el ser humano afecta a los órganos de localización que disponen algunos cetáceos como las ballenas, modificando sus patrones de conducta alimentaria y/o migratoria.</p>
          </div>
      </div>
      <div class="threats__image"></div>
    </div>

</main>


